<section class="section-wrapper">
  <div class="page-container">
    <projects-header></projects-header>
    <projects-tabs [activeTab]="activeTab" (tabChange)="setTab($event)"></projects-tabs>

    <projects-products *ngIf="activeTab === 'products'"></projects-products>
    <projects-technology *ngIf="activeTab === 'technology'"></projects-technology>
    <projects-ecosystem *ngIf="activeTab === 'ecosystem'"></projects-ecosystem>
    <projects-status *ngIf="activeTab === 'status'"></projects-status>
  </div>
</section>
